body
{
    background: #000000; 
}

.navbar li {
    display: inline;
    font-family: Arial Narrow;
    font-weight: bold;
    color: white;
    margin-right: 50px;
    background-color: white;
    padding: 20px;
}

.navbar .container {
    background-color: white;
}

p {
    font-family: futura;
    color: white;
}

h1 {
    font-family: Futura;
    margin-right: auto;
    margin-left:auto;
    color:white
}

.display-images {
    display: block;
}
